<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/utilities.css" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <title>Document</title>

    <style>
      input {
        display: inline;
      }
    </style>
  </head>
  <body>
    <div class="flex" style="gap: 20px">
      <label
        class="flex"
        style="border: 2px solid black; border-radius: 10px; padding: 0.6rem"
        ><p style="padding-right: 10px">Male</p>
        <input type="radio" name="sex" value="male"
      /></label>

      <label
        class="flex"
        style="border: 2px solid black; border-radius: 10px; padding: 0.6rem"
        ><p style="padding-right: 10px">Female</p>
        <input type="radio" name="sex" value="female"
      /></label>
    </div>
  </body>
</html>

<% if (flash.error) { %>
<div class="alert alert-danger"><%= flash.error[0] %></div>
<% } %> <% if (flash.success) { %>
<div class="alert alert-success"><%= flash.success[0] %></div>
<% } %>
