<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
      integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/utilities.css" />
    <link rel="stylesheet" href="/css/style.css" />

    <title>Shape || Build you community</title>
  </head>
  <body>
    <!-- top navebar -->
    <section class="nave-bar" >
      <div class="container sm flex">
        <a href="/home"
          ><img class="" src="/assets/shape.png" alt="" height="30px"
        /></a>

        <div class="search flex">
          <i class="fa fa-search"></i>
          <input type="text" name="search" placeholder="Search" />
        </div>

        <div class="action">
          <ul class="flex">
            <li>
              <a href=""
                >Create <i class="fa fa-plus" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a href=""><i class="fa fa-bell" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>

        <div class="profile">
          <div class="profile-menu">
            <ul class="flex">
              <li><a href="/profile">Profile</a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
      </div>
    </section>

    <!-- compose -->

    <section class="compose">
      <div class="container">
        <div class="post">
          <h2 class="my-1">Create Post</h2>
          <form action="/compose" method="post">
            <div class="title">
              <textarea
                id="titleInput"
                type="text"
                name="title"
                placeholder=""
                autocomplete="off"
                maxlength="300"
              ></textarea>
              <label for="titleInput"
                >Title<span style="color: rgba(255, 0, 0, 0.295)"
                  >*</span
                ></label
              >
            </div>
            <p
              style="
                font-size: 12px;
                margin: 1px 0;
                text-align: end;
                padding-right: 10px;
                color: grey;
              "
            >
              <span class="count">0</span>/300
            </p>
            <div class="detail">
              <textarea
                id="detail"
                name="detail"
                rows="8"
                placeholder="Description...."
              ></textarea>
            </div>
            <button class="post-b disabled btn" type="submit">Post</button>
          </form>
        </div>
      </div>
    </section>

    <script src="/js/compose.js"></script>
  </body>
</html>
