<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
      integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/utilities.css" />
    <link rel="stylesheet" href="/css/style.css" />

    <title>Compose</title>
  </head>
  <body>
    <!-- top navebar -->
    <section class="nave-bar">
      <div class="container sm flex">
        <img class="" src="/assets/google.png" alt="" height="30px" />

        <div class="search flex">
          <i class="fa fa-search"></i>
          <input type="text" name="search" placeholder="Search" />
        </div>

        <div class="action">
          <ul class="flex">
            <li>
              <a href=""
                >Create <i class="fa fa-plus" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a href=""><i class="fa fa-bell" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>

        <div class="profile flex">
          <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
        </div>
      </div>
    </section>

    <!-- compose -->

    <section class="compose">
      <div class="container">
        <div class="post">
          <form action="" action>
            <div class="title">
              <input id="title" type="text" name="title" placeholder="" />
              <label for="title"
                >Title<span style="color: rgba(255, 0, 0, 0.295)"
                  >*</span
                ></label
              >
            </div>
            <div class="detail">
              <textarea
                id="detail"
                name="detail"
                rows="8"
                placeholder="Description...."
              ></textarea>
            </div>
            <button class="post-b btn" type="submit">Post</button>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
