.main {
  display: flex;
  min-height: 100dvh;
  background-color: #eeeeee;
}

.main-navL {
  width: 28px;
  background-color: white;
  transition: 150ms ease-in-out;
  border-right: 1px solid rgba(0, 0, 0, 0.171);
}

.main-navL-width {
  width: 270px;
}

.main-navL .btn {
  position: fixed;
  top: 70px;
  left: 11px;
  border-radius: 100vw;
  background-color: var(--light-color);
  padding: 8px 6px;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.171);

  transition: 150ms ease-in-out;
  z-index: 100;
}

.btnL {
  transform: translate(243px);
}

.main .container {
  height: 100%;
  flex: 1;
  margin-right: 10px;
  overflow: auto;
  /* padding-bottom: 1rem; */
}

.post-wrapper {
  max-width: 745px;
  margin-top: 80px;
  margin-left: auto;

  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.nav-container {
  background-color: white;
  overflow: hidden;
  border-radius: 15px;

  padding: 10px 10px;
}

.nav-r {
  flex: 0.52;
}
.main-navR {
  position: sticky;
  top: 0;
  max-width: 300px;
  height: 100dvh;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding-top: 80px;
  overflow: scroll;
  overscroll-behavior: contain;
}

.demo {
  position: sticky;
  top: 0;
  overflow: scroll;
  padding-top: 70px;
  height: 100dvh;
  width: 100%;
  margin: auto;
  opacity: 0;
  transition: 300ms;
  overscroll-behavior: contain;
}

.demoOP {
  opacity: 1;
}

.demo-j {
  width: 85%;
  height: fit-content;
  margin: auto;
  margin-bottom: 10px;
  text-wrap: nowrap;
  border-bottom: 1px solid rgba(0, 0, 0, 0.171);
  flex-direction: column;
  align-items: start;
  padding-bottom: 10px;
}

.demo-j a {
  padding: 12px 15px;
  width: 100%;
  border-radius: 10px;
}

.demo-j a:hover {
  background-color: var(--light-color);
}

.demo-j a:active {
  background-color: var(--secondary-color);
}

.demo-jL {
  width: 95%;
  height: 250px;
  margin: auto;
  margin-bottom: 10px;
  background-color: var(--light-color);
}

.post-cover {
  /* width: min(750px, 95%); */
  /* margin: auto; */
  padding: 0.3rem 0;
  border: 1px solid rgba(0, 0, 0, 0.104);
  border-left: none;
  border-right: none;
  border-top: none;
  cursor: pointer;
}

.post {
  height: 100%;
  border-radius: 10px;
  padding: 0.3rem 0.9rem;
}

.post:hover {
  background-color: #e7e7e73b;
}

.personal-p {
  justify-content: start;
  gap: 5px;
}

.profile-pic {
  display: flex;
  inline-size: 25px;
  aspect-ratio: 1;
  border-radius: 100vw;
  object-fit: cover;
  background-color: antiquewhite;
  overflow: hidden;
  place-items: center;
}
.p-pic {
  width: 100%;
}

.main .post h4 {
  font-weight: 450;
  font-size: 1.1rem;
}

.function {
  justify-content: start;
}

.reaction {
  display: flex;
  margin-right: 0.5rem;
  border-radius: 20px;
  background-color: rgba(128, 128, 128, 0.189);
  overflow: hidden;
  flex-direction: row;
  gap: 0;
}

.like,
.dislike {
  padding: 0.5rem 0.55rem;

  margin-left: 0;
}

.function button:hover {
  background-color: rgba(128, 128, 128, 0.245);
  /* padding: 0.25rem 0.5rem; */

  /* margin-right: 0.5rem; */
}

.comment {
  padding: 0.5rem 0.55rem;
  border: none;
  background-color: rgba(128, 128, 128, 0.189);
  border-radius: 20px;
  margin-left: 0;
}

.post-title {
  white-space: pre-wrap;
  line-height: 1.6;
}

.post-detail {
  white-space: pre-wrap;
  font-weight: 300;
  font-size: small;
  word-spacing: 2px;
  line-height: 1.6;
}

/* /////////////////////// */

.p-opt {
  position: relative;
  inline-size: 25px;
  aspect-ratio: 1;

  border-radius: 100vw;
}

.p-opt:hover {
  background-color: #0000001b;
}

.p-optD {
  display: none;
  position: absolute;
  top: 30px;
  right: 0;
  background-color: white;
  width: 150px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 3px rgba(128, 128, 128, 0.193);
}

.p-opt-btn {
  width: 100%;
  padding: 0.5rem;
  text-align: start;
  background-color: transparent;
}

.p-opt-btn i {
  margin: 0 0.4rem;
}

.p-opt-btn:hover {
  background-color: var(--secondary-color);
}
.displayBlock {
  display: block;
}
.no-transition {
  transition: none !important;
}
/* ///////////////////// */

.recent {
  justify-content: space-between;
  margin-bottom: 5px;
}

.recent > h5 {
  color: rgb(128, 128, 128);
}

.recent > a {
  color: blue;
}

.demo-R {
  height: 150px;
  width: 100%;
  margin-bottom: 5px;
  background-color: azure;
}
