@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #465c88;
  --secondary-color: #e9e3df;
  --secondary2-color: #ff7a30;
  --dark-color: #002240;
  --light-color: #f4f4f4;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* top navbar */

.nave-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  font-weight: 500;
  border-bottom: 1px solid rgba(0, 0, 0, 0.171);
  z-index: 100;
  overflow: hidden;
}

.nave-bar .container {
  padding: 0.4rem;
  width: 99.5%;

  justify-content: start;
}

.search {
  height: 38px;
  width: 200px;
  background-color: var(--light-color);
  margin-left: auto;
  justify-content: start;
  padding: 0 10px;
  transition: 200ms ease-in-out;
  border-radius: 20px;
  border: 2px solid transparent;
}

.search:hover {
  background-color: #ededed;
}

.search:focus-within {
  width: 350px;
  border-color: #300a68;
  background-color: #e7e7e7;
}

.search:focus-within i {
  color: #300a68;
}

.action {
  height: 40px;

  margin: 0 10px;
}

.action ul {
  justify-content: start;
  gap: 5px;
}

.action ul li a {
  padding: 0.5rem;
  border-radius: 20px;
  transition: 50ms;
}

.action ul li a:hover {
  background-color: #e8e8e8a4;
}

.profile {
  background-color: #ff7a30;
  inline-size: 30px;
  aspect-ratio: 1;
  border-radius: 100vw;
  object-fit: cover;

  transition: 50ms;
}

.profile:hover {
  box-shadow: 0 0 0 3px #d0d0d0;
}

.profile-menu {
  position: absolute;
  top: 53px;
  right: 5px;

  width: max(80px, 5%);
  height: 65px;
  z-index: 200;
  border-radius: 10px;
  border-top-right-radius: 0;
  background-color: var(--light-color);
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.127);
}

.profile-menu ul {
  flex-direction: column;
  gap: 8px;
  justify-content: start;
  padding: 5px;
}

.profile-menu ul li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.171);
}
.profile-menu ul li:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.613);
}

/* main */

.main {
  min-height: 100dvh;
}

.main .container {
  height: 100%;

  padding-top: 70px;
  width: min(1000px, 90%);
  overflow: auto;
  background-color: #8bc4f5;
}

.post-cover {
  width: min(750px, 90%);
  margin: auto;
  padding: 0.3rem 0;
  border: 1px solid rgba(0, 0, 0, 0.104);
  border-left: none;
  border-right: none;
  border-top: none;
  cursor: pointer;
  background-color: #a5bded;
}

.post {
  height: 100%;
  border-radius: 10px;
  padding: 0.3rem 0.9rem;
}

.post:hover {
  background-color: #e7e7e73b;
}

.personal-p {
  justify-content: start;
  gap: 5px;
}

.profile-pic {
  inline-size: 25px;
  aspect-ratio: 1;
  border-radius: 100vw;
  object-fit: cover;
  background-color: #465c88;
}

.main .post h4 {
  font-weight: 450;
  font-size: 1.1rem;
}

.function {
  justify-content: start;
}

.function button {
  background-color: #fd7e3a3d;
  padding: 0.25rem 0.5rem;
  border: none;
  margin-right: 0.5rem;
  border-radius: 20px;
  margin-left: 0;
}

.function button:hover {
  background-color: #fd7f3a88;
  padding: 0.25rem 0.5rem;
  border: none;
  margin-right: 0.5rem;
  border-radius: 20px;
  margin-left: 0;
}

/* compose */

.compose {
  height: 100dvh;
}

.compose .container {
  min-height: 100dvh;
  border: 1px solid rgba(0, 0, 0, 0.171);
  border-top: none;
  padding-top: 70px;
  padding-bottom: 20px;
}

.compose .container .post {
  background-color: var(--light-color);
}

.title {
  position: relative;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  border: 2px solid transparent;
}

#titleInput {
  font-size: 15px;
  transition: 200ms ease-in-out;

  width: 100%;
  border: none;
  resize: none;
  padding: 5px;
  max-height: 200px;
  font-family: "Roboto", sans-serif;
  field-sizing: content;
}

#titleInput:focus {
  outline: none;
}

.title label {
  position: absolute;
  top: 20px;
  transform: translateX(2px);
  display: block;
  padding-left: 3px;
  transition: 200ms ease-in-out;
  color: grey;
  /* z-index: 1; */
  pointer-events: none;
}

.title:focus-within #titleInput,
#titleInput:not(:placeholder-shown) {
  transform: translateY(10px);
}

.title:focus-within label,
#titleInput:not(:placeholder-shown) + label {
  transform: translateY(-11px);
  font-size: 13px;
}

.detail textarea {
  border-radius: 10px;
  width: 100%;
  border: none;
  margin: 1rem 0;
  margin-bottom: 0.5rem;
  resize: vertical;
  padding: 1.45rem;
  min-height: 300px;
  max-height: 800px;
  font-family: "Roboto", sans-serif;
  field-sizing: content;
}

.detail textarea::placeholder {
  letter-spacing: 0.03rem;
}

.detail textarea:focus {
  outline: none;
}

.post-title {
  white-space: pre-wrap;
  line-height: 1.6;
}

.post-detail {
  white-space: pre-wrap;
  font-weight: 300;
  font-size: small;
  word-spacing: 2px;
  line-height: 1.6;
}

.post-b {
  border-radius: 20px;
  padding: 10px 15px;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.focus {
  border: 2px solid rgba(0, 38, 255, 0.411);
}

.error {
  border: 2px solid rgba(255, 0, 0, 0.411);
}

/* profile */

.profile-hero {
  padding: 0.5rem;
  flex-direction: column;
  width: min(750px, 90%);
  margin: auto;
  align-items: start;
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
  margin-bottom: 1rem;
}

.p-pic {
  width: 70px;
  aspect-ratio: 1;
  border-radius: 100vw;
  background-color: #465c88;
  margin-bottom: 1.4rem;
}

.profile-p {
  background-color: #a5bded;
}

.p-opt {
  position: relative;
  inline-size: 25px;
  aspect-ratio: 1;

  border-radius: 100vw;
}

.p-opt:hover {
  background-color: #0000001b;
}

.p-optD {
  display: none;
  position: absolute;
  top: 30px;
  right: 0;
  background-color: white;
  width: 150px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 3px rgba(128, 128, 128, 0.193);
}

.p-opt-btn {
  width: 100%;
  padding: 0.5rem;
  text-align: start;
  background-color: transparent;
}

.p-opt-btn i {
  margin: 0 0.4rem;
}

.p-opt-btn:hover {
  background-color: var(--secondary-color);
}

.profile-nav {
  gap: 10px;
  width: 100%;
  justify-content: start;
  height: fit-content;
}

.profile-nav .btn {
  color: black;
  background-color: transparent;
  border-radius: 20px;
}

.profile-nav a {
  /* display: inline-block; */
  padding: 0.5rem 0.6rem;
  cursor: pointer;
  background-color: transparent;
  color: black;
  border: none;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: 500;
}

.profile-nav a:hover {
  text-decoration: underline;
}

.profile-nav a:active {
  background-color: var(--light-color);
}

/* PROFILE-UPDATE */

.update {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  opacity: 0;
  width: 100%;
  background-color: #ff78304b;

  overflow: hidden;
  transition: 100ms ease-in-out;
  background-color: var(--secondary-color);
  margin: auto;
}

.update-after {
  opacity: 1;
  height: 100%;
  padding: 1rem;
  padding-top: 70px;
  z-index: 50;
}

.update form {
  width: min(1000px, 75%);
  margin: auto;
}

.overflow {
  overflow: visible;
}

/* comment */

.main .comment-el {
  border: none;
}

.comment-el .post:hover {
  background-color: transparent;
}

.comment {
  margin: 0.5rem 0;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid rgba(140, 140, 140, 0.305);
  height: fit-content;
}

.cmt:hover {
  background-color: #e4e0e076;
}

.temp {
  margin: 1rem;
  color: grey;
}

#commentInput {
  display: none;
  field-sizing: content;
  padding: 0.7rem 1rem;
  border: none;
  width: 100%;
  min-height: 80px;
  resize: vertical;
}

#commentInput:focus {
  outline: none;
}

.comment-input:hover {
  padding: 1rem;
}

.comment-func {
  display: none;
  width: 100%;
  justify-content: end;
  gap: 5px;
}

.comment-func .btn {
  padding: 0.5rem 0.8rem;
  border-radius: 20px;
  margin: 0.5rem 0;
}

.cancel {
  background-color: var(--light-color);
  color: rgb(85, 85, 85);
}
.cancel:hover {
  background-color: #ebebeb;
}

/* fffff */
.displayOn {
  display: flex;
}

.displayOff {
  display: none;
}

.displayBlock {
  display: block;
}
/* fffff */

.discuss .container {
}

.discuss-box {
  width: min(750px, 90%);
  margin: 0.5rem auto;
  padding: 0.3rem 0;

  border-left: none;
  border-right: none;

  height: fit-content;
}

.discuss-post {
  height: 100%;

  padding: 0.3rem 0.9rem;
}

.discuss-content {
  /* white-space: pre-wrap; */
  font-weight: 300;
  font-size: small;
  word-spacing: 2px;
  line-height: 1.6;
}

.discuss-reaction {
  justify-content: end;
}

.discuss-reaction button {
  background-color: var(--light-color);
  padding: 0.25rem 0.5rem;
  border: none;
  margin-right: 0.5rem;
  border-radius: 20px;
  margin-left: 0;
}

.discuss-reaction button:hover {
  background-color: #e9e9e9;
  padding: 0.25rem 0.5rem;
  border: none;
  margin-right: 0.5rem;
  border-radius: 20px;
  margin-left: 0;
}
