@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #465c88;
  --secondary-color: #e9e3df;
  --secondary2-color: #ff7a30;
  --dark-color: #002240;
  --light-color: #f4f4f4;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* top navbar */

.nave-bar {
  position: sticky;
  top: 0;

  background-color: white;
  font-weight: 500;
  border-bottom: 1px solid rgba(0, 0, 0, 0.171);
}

.nave-bar .container {
  padding: 0.4rem;
  width: 99.5%;

  justify-content: start;
}

.search {
  height: 38px;
  width: 200px;
  background-color: #e9e3dfb4;
  margin-left: auto;
  justify-content: start;
  padding: 0 10px;
  transition: 200ms ease-in-out;
  border-radius: 20px;
  border: 2px solid transparent;
}

.search:hover {
  background-color: var(--secondary-color);
}

.search:focus-within {
  width: 350px;
  border-color: #ff7a30;
}

.search:focus-within i {
  color: #ff7a30;
}

.action {
  height: 40px;

  margin: 0 10px;
}

.action ul {
  justify-content: start;
  gap: 5px;
}

.action ul li a {
  padding: 0.5rem;
  border-radius: 20px;
  transition: 50ms;
}

.action ul li a:hover {
  background-color: #ff7a30;
}

.profile {
  width: 31.6px;
  height: 31.5px;
  border-radius: 50%;
  transition: 50ms;
}

.profile:hover {
  box-shadow: 0 0 0 3px rgb(250, 1, 1);
}

/* main */

.main {
  min-height: 100dvh;
}

.main .container {
  min-height: 100px;
  border: 1px solid rgba(0, 0, 0, 0.171);
  border-top: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

.personal-p {
  justify-content: start;
  gap: 5px;
}

.profile-pic {
  inline-size: 25px;
  aspect-ratio: 1;
  border-radius: 100vw;
  object-fit: cover;
  background-color: #465c88;
}

.post {
  background-color: var(--secondary-color);
  width: 70%;
  margin: 1rem auto;
  margin-top: 0;
  border-radius: 10px;
  padding: 1rem;
}

.function {
  justify-content: start;

  border-top: 1px solid rgba(255, 255, 255, 0.877);
}

.function a {
  background-color: #fd7f3a88;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  margin-right: 0.5rem;
  border-radius: 10px;
  margin-left: 0;
}

/* compose */

.compose {
  height: 100dvh;
}

.compose .container {
  min-height: 100dvh;
  border: 1px solid rgba(0, 0, 0, 0.171);
  border-top: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

.title {
  position: relative;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  border: 2px solid transparent;
}

.title input {
  font-size: 15px;
  transition: 200ms ease-in-out;
}

.title label {
  position: absolute;
  top: 16px;
  transform: translateX(2px);
  display: block;
  padding: 3px;
  transition: 200ms ease-in-out;
  color: grey;
  /* z-index: 1; */
  pointer-events: none;
}

.title:focus-within input,
input:not(:placeholder-shown) {
  transform: translateY(9px);
}

.title:focus-within label,
input:not(:placeholder-shown) + label {
  transform: translateY(-9px);
  font-size: 13px;
}

.detail textarea {
  border-radius: 10px;
  width: 100%;
  border: none;
  margin: 1rem 0;
  margin-bottom: 0.5rem;
  resize: vertical;
  padding: 1.45rem;
  font-family: "Roboto", sans-serif;
}

.detail textarea::placeholder {
  letter-spacing: 0.03rem;
}

.detail textarea:focus {
  outline: none;
}

.post-b {
  border-radius: 20px;
  padding: 10px 15px;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.focus {
  border: 2px solid rgba(0, 38, 255, 0.411);
}

.error {
  border: 2px solid rgba(255, 0, 0, 0.411);
}
